@font-face {
    font-family: BPGarial;
    src: url(./assets/fonts/bpg_arial_2009.ttf);
}

@font-face {
    font-family: BPGweb;
    src: url(./assets/fonts/bpg_web_001_caps.ttf);
}

@font-face {
    font-family: roboto;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(./assets/fonts/Roboto-Bold.ttf);
}

html {
    height: 100%;
    background-image: linear-gradient(#01579b, #0288d1);
    background-repeat: no-repeat;
    background-size: fill;
    background-color: #0288d1;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.geo {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: BPGweb;
    }

    p {
        font-family: BPGarial;
    }

    input[type='text']:not(.browser-default),
    input[type='email']:not(.browser-default) {
        font-family: BPGarial;
    }

    .action-btn {
        font-family: BPGweb;
    }
}

.en {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: robotoBold;
    }

    p {
        font-family: roboto;
    }

    input[type='text']:not(.browser-default),
    input[type='email']:not(.browser-default) {
        font-family: roboto;
    }

    .action-btn {
        font-family: robotoBold;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #fff;
}

p {
    color: #fff;
    font-size: 18px;
}

a {
    color: inherit;
}

hr {
    border: 1px solid #ebebeb;
    padding: 0;
    margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 16px;
    }
}

/* Language Selection */

.language-selection {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}

.language-selection ul {
    float: right;
}

.language-selection li {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
}

.language-selection h6 {
    font-size: 1rem;
}

/* ------------------------ */

/* Progress Bar */

.progress-bar {
    position: relative;
    min-height: 100%;
    margin-bottom: 100px;
}

.progress-bar-front {
    overflow: hidden;
    position: absolute;
    transition: width 2.5s ease-out;
}

.progress-bar img {
    width: 0px;
}

@media only screen and (max-width: 600px) {
    .progress-bar {
        margin-bottom: 20px;
    }
}

/* ------------------------ */

/* Petition Action */

.petition-action {
    margin-bottom: 50px;
}

.white-wrapper {
    background-color: #fff;
    border-radius: 15px;
    padding: 35px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
}

input[type='text']:not(.browser-default),
input[type='email']:not(.browser-default) {
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 0px 15px;
    box-sizing: border-box;
}

input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]) {
    border-bottom: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.action-btn {
    display: block;
    width: 100%;
    background-color: #7cb342;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.action-btn.fb {
    background-color: #3b5998;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn.fb img {
    height: 20px;
    margin-right: 15px;
}

.action-btn:hover {
    transition: box-shadow 250ms;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

::placeholder {
    color: #6a6a6a;
}

.white-wrapper p {
    color: black;
    text-align: center;
}

.petition-action h4 {
    margin-bottom: 40px;
    line-height: 3.4rem;
}

@media only screen and (max-width: 600px) {
    .petition-action h4 {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 15px;
        line-height: 2rem;
    }
    .petition-action p {
        text-align: center;
        margin-bottom: 20px;
    }
    .white-wrapper {
        padding: 20px;
    }
}

/* ------------------------ */

/* BulletPoint */

.bulletpoint {
    margin-bottom: 70px;
}

.bulletpoint .bulletpoint-list:not(:last-child) {
    margin-bottom: 50px;
}

.bulletpoint-list img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

.bulletpoint-list {
    display: flex;
    align-items: center;
}

.bulletpoint-list p {
    line-height: 2.5rem;
}

@media only screen and (max-width: 600px) {
    .bulletpoint {
        margin-bottom: 40px;
    }
    .bulletpoint-list {
        display: block;
    }
    .bulletpoint-list p {
        line-height: 1.5rem;
    }
}

/* ------------------------ */

/* PropositionEssay */

.proposition-essay {
    padding: 60px;
    margin-bottom: 50px;
    position: relative;
}

.proposition-essay p {
    text-align: left;
    line-height: 2.5rem;
}

.proposition-essay h5 {
    color: #000;
}

.background-path-wrapper {
    position: absolute;
    left: -40%;
    right: -30%;
    bottom: 0;
    top: 0px;
    z-index: -999;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .proposition-essay {
        padding: 20px;
    }
    .proposition-essay p {
        line-height: 2rem;
    }
}

/* ------------------------ */

/* Notification */

.notification {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 99999;
    overflow: hidden;
    padding: 5px 15px;
    &.success {
        background-color: #43a047;
    }
    &.fail {
        background-color: red;
    }
    p {
        text-align: center;
        font-size: 16px;
    }
}

/* ------------------------ */
